.account-content {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background-color: var(--background-color);
  padding-inline: 4rem;
}

.account-hero {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
}

.welcome-user {
  display: flex;
  flex-direction: column;
  gap: 8px;

  & h1 {
    color: var(--white-text-color, #eaeaea);
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }

}

.position {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    
    & p {
      color: var(--grey-text-color, #858585);
      font-family: "League Spartan";
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
     
    }
}
