.btn {
  width: fit-content;
  display: flex;
  padding: 10px 10px 10px 20px;
  gap: 25px;
  align-items: center;
  justify-content: space-between;
  border: none;
  border-radius: 30px;
  font-size: 20px;
  color: #fff;
  font-weight: 300;
}

.icon {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: var(--primary-color);
  display: flex;
  justify-content: center;
  align-items: center;
}

.padding {
  padding: 10px 20px 10px 20px;
  width: 100%;
  justify-content: center;
}

.primary {
  background-color: var(--primary-opacity30);
}

.secondary {
  background-color: var(--primary-opacity70);
}

.danger {
  background-color: var(--red-opacity20);
  color: var(--red-color);
}
