nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin: 2rem 4rem;
}

.nav-left {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8vw;

    & h1 {
        color: #fff;

        & span {
            color: var(--primary-color);
        }
    }

    & .links {
        display: flex;
        align-items: center;
        gap: 2rem;
    }

    & .anchor {
        text-decoration: none;
        color: var(--white-text-color);
    }

    & .buttons {
        color: #fff;
    }
}
